{% extends "auctions/layout.html" %}

{% block body %}
    <section id="login-section">
        <div id="login-container-1">
            <div id="login-summary">
                <h1>Auctions</h1>
                <h2>Bid, Win, Thrive</h2>
            </div>
            <img id="login-background-image" src="../../static/auctions/loginimage.jpg" alt="shop with plants" />
        </div>
        <div id="login-container-2">
            <div id="login-block">
                <h2 class="title">Login</h2>

                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}

                <form action="{% url 'login' %}" method="post" id="login-form">
                    {% csrf_token %}
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <input class="login-button" type="submit" value="Login">
                </form>

                Don't have an account? <a href="{% url 'register' %}"><strong>Register here</strong></a>
            </div>
        </div>
    </section>

{% endblock %}