
{% extends "auctions/layout.html" %}

{% block body %}
    <section id="login-section">
        <div id="login-container-2">
            <div id="login-block">
                <h2 class="title">Login</h2>

                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}

                <form action="{% url 'register' %}" method="post" id="login-form">
                    {% csrf_token %}
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                    <input class="login-button" type="submit" value="Register">
                </form>

                Already have an account? <a href="{% url 'login' %}"><strong>Login here</strong></a>
            </div>
        </div>
        <div id="login-container-1">
            <div id="login-summary">
                <h1>Auctions</h1>
                <h2>Your Gateway to Unbeatable Deals</h2>
            </div>
            <img id="login-background-image" src="../../static/auctions/registerimage.jpg" alt="shop with plants" />
        </div>
    </section>

{% endblock %}